<div class="c-search__portfolio-item {{ portfolio.class }} jsSearchPortfolioItem">
  <div class="c-search__portfolio-item-inner jsSearchPortfolioItemInner">
    <div class="c-search__portfolio-image">
      <img
        class="lazyload"
        src="{{ placeholderImage(portfolio.post.meta('logo').width, portfolio.post.meta('logo').height) }}"
        data-src="{{ portfolio.post.meta('logo').src|resizeDynamic(portfolio.post.meta('logo').width, portfolio.post.meta('logo').height) }}"
        data-sizes="auto"
        alt="{{ portfolio.post.meta('logo').alt|e }}"
      />
    </div>
    <div class="c-search__portfolio-title">
      <h2>{{ portfolio.post.service_type|e('wp_kses_post') }}</h2>
    </div>
    {% if portfolio.post.company_has_services %}
      <div class="c-search__portfolio-company">
        <h3>{{ portfolio.post.company_has_services|e('wp_kses_post') }}</h3>
      </div>
    {% endif %}
  </div>
  <div class="c-search__portfolio-popup hide jsSearchPortfolioPopup">
    <div class="c-search__portfolio-popup-close jsSearchPortfolioPopupClose"></div>
    <div class="c-search__portfolio-popup-inner">
      <div class="c-search__portfolio-popup-logo">
        <img
          class="lazyload"
          src="{{ placeholderImage(portfolio.post.meta('logo').width, portfolio.post.meta('logo').height) }}"
          data-src="{{ portfolio.post.meta('logo').src|resizeDynamic(portfolio.post.meta('logo').width, portfolio.post.meta('logo').height) }}"
          data-sizes="auto"
          alt="{{ portfolio.post.meta('logo').alt|e }}"
        />
      </div>
      <div class="c-search__portfolio-popup-content">
        <h2>{{ portfolio.post.title|e('wp_kses_post') }}</h2>
        {{ portfolio.post.meta('description')|e('wp_kses_post') }}
        {% if portfolio.post.meta('link') %}
          <div class="c-search__portfolio-popup-link">
            <a href="{{ portfolio.post.meta('link').url }}">{{ portfolio.post.meta('link').title }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>